global
    maxconn 4096

defaults
    mode tcp
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend fe
    bind :9999
    default_backend be

backend be
    balance roundrobin
    server rinha-backend-one rinha-backend-one:8881
    server rinha-backend-two rinha-backend-two:8882

